@{
    Layout = null;
}

 <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
     <img class="img-thumbnail" src="https://placem.at/things?w=500&h=500&random=some_seed"  width="500" height="500"/>
      </div>
    </div>
     <a class="btn btn-outline-warning" data-ajax="true" data-ajax-method="Post" data-ajax-url="@Url.Action("Flyout",new { t = "日本"})" data-ajax-success="Flyout">我要出國啦!</a>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="img-thumbnail" src="https://placem.at/things?w=500&h=500&random=some_seed"  width="500" height="500"/>
      </div>
    </div>
    <div class="row">
        <a class="btn btn-outline-warning ml-auto" data-ajax="true" data-ajax-method="Post" data-ajax-url="@Url.Action("Flyout",new { t = "越南"})" data-ajax-success="Flyout">我要出國啦!</a>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="img-thumbnail" src="https://placem.at/things?w=500&h=500&random=some_seed"  width="500" height="500"/>
      </div>
    </div>
     <a class="btn btn-outline-warning" data-ajax="true" data-ajax-method="Post" data-ajax-url="@Url.Action("Flyout",new { t = "泰國"})" data-ajax-success="Flyout">我要出國啦!</a>
    <hr class="featurette-divider">